.button {
    height: inherit;
    width: 33%;
    border-radius: inherit;
}

.parent {
    height: 450px;
    width: 450px;
    margin-left: 150px;
    margin-top: 58px;
    border-radius: 20px;
    border: solid;
}

.parent-display {
    background-color: lavender;
    height: 300px;
    /* margin: 0; */
    display: flex;
    border-radius: inherit;
}

.parent-buttons {
    border-radius: inherit;
    height: 150px;
    width: inherit;
}

p {
    font-size: 100px;
    margin-left: 196px;
}
